*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root:first-child
{
  margin: 15px 5px

}
.css-1ywppxc-MuiImageList-root{  grid-template-columns: repeat(auto-fit,1fr) !important;
}
